:root {
  // Colors values
  --primary-color: #2164f4;
  --secondary-color: #f3b021;

  --white-color: #ffffff;

  // Font values
  --default-font-value: 16px;

  // Layout values
  --header-height: 6vh;
}
