:root {
  // Colors values
  --primary-color: #1890ff;
  --secondary-color: #f3b021;

  --white-color: #ffffff;

  // Font values
  --default-font-value: 16px;

  // Layout values
  --header-height: 6vh;

  --box-shadow: 0.4px 0px 2.2px rgba(24, 144, 255, 0.02), 1px 0px 5.3px rgba(24, 144, 255, 0.028),
    1.9px 0px 10px rgba(24, 144, 255, 0.035), 3.4px 0px 17.9px rgba(24, 144, 255, 0.042),
    6.3px 0px 33.4px rgba(24, 144, 255, 0.05), 15px 0px 80px rgba(24, 144, 255, 0.07);
}
